{{#each sortedCountries as |country|}}
<li class="infectedCountry">
    <h5 class="infectedCountryName">{{ country.country }}</h5>
    <p class="infectedCountryDetails font-weight-bold"><span class="text-blue">
            {{ country.cases }} Cases</span> & <span class="text-danger"> {{ country.deaths }}
            Deaths</span></p>
    <div class="casesSmall">
        <span class="infectedCountryCases text-blue">+{{ country.todayCases }} cases</span>
        <br>
        <span class="infectedCountryDeaths text-danger">+{{ country.todayDeaths }} deaths</span>
    </div>
</li>
{{/each}}