<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="card-box infections">
                <div class="header-title">Infections</div>
                <div class="data infected">
                    <div class="float-right">
                        <div class="graph-icon icon-infected">
                            {{ div model.data.todayCases model.case.firstObject.cases }}% <span
                                class="material-icons">trending_up</span>
                        </div>
                    </div>
                    <div class="total">{{ formatLargeNumber @model.case.firstObject.cases }}</div>
                    <div class="today">{{ formatLargeNumber @model.data.todayCases }} today</div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card-box deaths">
                <div class="header-title">Deaths</div>
                <div class="data death">
                    <div class="float-right">
                        <div class="graph-icon icon-deaths">
                            {{ div model.data.totalDeaths model.data.finishedCases }} <span
                                class="material-icons">trending_up</span>
                        </div>
                    </div>
                    <div class="total">{{formatLargeNumber @model.case.firstObject.deaths }}</div>
                    <div class="today">{{ formatLargeNumber @model.data.todayDeaths }} today</div>
                </div>

            </div>
        </div>
        <div class="col">
            <div class="card-box">
                <div class="header-title">Recovered</div>
                <div class="data recovered">
                    <div class="float-right">
                        <div class="graph-icon icon-recovered">
                            {{ div model.data.totalRecovered model.data.finishedCases }}%<span
                                class="material-icons">trending_up</span>
                        </div>
                    </div>
                    <div class="total">{{ formatLargeNumber @model.case.firstObject.recovered }}</div>
                    <div class="today">{{ formatLargeNumber @model.data.activeCases }} remaining</div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card-box">
                <div class="header-title">Critical</div>
                <div class="data critical">
                    <div class="float-right">
                        <div class="graph-icon icon-critical">
                            {{div model.data.totalCritical model.data.activeCases}}%<span
                                class="material-icons">trending_up</span>
                        </div>
                    </div>
                    <div class="total">{{ formatLargeNumber @model.data.totalCritical }}</div>
                    <div class="today">{{ formatLargeNumber @model.data.casesPer1M }} per million</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-xl-4">
            <div class="card-box">
                <div class="float-right">
                    <p id="today-stats">Today's Statistics</p>
                </div>
                <h4 class="header-title">{{model.country.length}} Affected Countries </h4>

                {{country-list countries = model.country}}


            </div>
        </div>
        <div class="col">
            <div class="card-box">
                {{map countries = model.country}}
            </div>
        </div>

    </div>
</div>